.popup-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);

    .password-popup {
        padding: 20px;
        width: 450px;

        .popup-header {
            font-size: 24px;
        }
        .popup-body {
            padding-top: 10px;
            padding-bottom: 10px;

            input {
                width: 100%;
                font-size: 24px;
            }
        }
        .popup-footer {
            display: flex;
            justify-content: flex-end;
            font-size: 24px;

            button {                
                font-size: 24px;
                margin-left: 10px;
            }
        }
    }
}